<div class="input-group w12 mb5">
    <span class="input-group-addon w4 text-right">
        <input type="checkbox" name="{{ name }}" id="input-{{ name }}" {{ value?'checked':'' }}>
    </span>
    <span class="form-control">
        <label class="control-label w12 text-left mb0" for="input-{{ name }}">{{ label }}</label>
    </span>
</div>