<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Initiator{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ ROOT_URL }}/statics/img/logo/favicon.png"/>
    <meta name="csrf-token" content="{{ csrf_token }}">

    <script>
        location.root = "{{ ROOT_URL }}";
        window.csrf = {key: "{{ csrf_key }}", token: "{{ csrf_token }}"};
    </script>

    <link rel="stylesheet" href="{{ ROOT_URL }}/statics/css/bootstrap.css">
    <link rel="stylesheet" href="{{ ROOT_URL }}/statics/css/bootstrap-theme.css">
    <link rel="stylesheet" href="{{ ROOT_URL }}/statics/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ ROOT_URL }}/statics/css/toastr.css">
    <link rel="stylesheet" href="{{ ROOT_URL }}/statics/css/style.css">
    {% block css %}{% endblock %}

    <script src="{{ ROOT_URL }}/statics/js/jquery.min.js"></script>
    <script src="{{ ROOT_URL }}/statics/js/underscore.js"></script>
    <script src="{{ ROOT_URL }}/statics/js/bootstrap.min.js"></script>
    <script src="{{ ROOT_URL }}/statics/js/hogan.js"></script>
    <script src="{{ ROOT_URL }}/statics/js/toastr.js"></script>
    <script src="{{ ROOT_URL }}/statics/js/templates.js"></script>

    {% block js %}{% endblock %}
</head>
<body>
{% include 'widget/navbar.twig' %}
<div class="container">
    {% block body %}{% endblock %}
</div>
{% block script %}{% endblock %}
</body>
</html>